<section>
    <h1 class="text-white">
        Dashboard admin
    </h1>
    <div class="card">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        <p-menubar [model]="items"></p-menubar>
    </div>
    <div class="grid">
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold">
                <p-card header="Cards total">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">
                <p-card header="Title">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">
                <p-card header="Title">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</section>