<section>
    <div class="card">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </ng-template>
        <p-menubar [model]="items"></p-menubar>
    </div>
    <h1 class="text-white px-4">
        Seja bem-vindo admin!
    </h1>
    <div class="grid">
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold">
                <p-card header="Cards totais">
                    <p class="m-0">
                        1000
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">
                <p-card header="Usuários">
                    <p class="m-0">
                        1000
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">
                <p-card header="Decks">
                    <p class="m-0">
                        1000
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</section>